<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<head>
  <title>Experience</title>
</head>
<body class = "bg-white">
  <div  style = "height:100px;width:200px">
    <p class = "page-title">Experience</p>
  </div>
    <div class "text-container">
      <!-- <h1 onmouseover="style.color='red'"
onmouseout="style.color='black'">Hello<h1> -->
      <img src = "../public/images/clover-full.svg"></img>
    </div>
  </div>


#AED9E0





</body>

</html>
